# Virtual environment
venv/
env/

# Data files (too large for GitHub)
data/raw/
*.csv
*.xlsx
*.parquet
*.h5

data/models/arima_model.pkl

# Python cache
__pycache__/
*.py[cod]
*.pyo
.DS_Store

# Jupyter
.ipynb_checkpoints/
notebooks/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml